$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;
$text-info-color: rgb(103, 103, 103);
$phone-number-color: rgb(216, 216, 216);
$footer-link-color: rgb(169, 169, 169);
$deals-image-bg: rgb(206, 206, 206);
$deals-button: rgb(255, 209, 209);

$form-border-color: #292929;
$product-box-border: #e1e1e1;
$bar-border: #e2e2e2;
$feature-box-border: #b6b6b6;

$star-full-color: rgb(42, 42, 42);

$card-counter-color: rgb(224, 227, 237);

$dots-background: #e1e1e1;

$card-border-color: #a2a2a2;
$promoted-banner-bg: #cccccc;
$old-price-color: #a5a5a5;

$image-bg: #f4f5f7;
$picture-bg: #e8edf7;
$gallery-price: #79ae30;

$light: white;
$dark: black;
