.section--brands {
  padding: 3rem 0;

  .brands-container {
    display: flex;
    width: 100%;
    height: 150px;
    border-top: 2px solid $bar-border;
    border-bottom: 2px solid $bar-border;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .brand-box {
      height: 90px;
      width: 140px;
      border: 2px solid $bar-border;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .brand-box-arr {
      height: 90px;
      width: 35px;
      background-color: $text-color;
      color: $light;

      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }

  }
}
